body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  /* nice-looking web safe fonts */
}

/*scrollbar css*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* the bottom part of the chatbot with the powered by text */
.bpw-powered {
  font-size: 0.75em;
  text-decoration: none;
  color: inherit;
  padding-left: 1em;
  padding: 0.65em 0.65em 0.65em 0.65em;
  background-color: #007136;
  border-radius: 0 0 10px 10px;
  color: white;
  text-align: center;
}

.bpw-powered a {
  color: white;
  text-decoration: none;
}

.bpw-powered a:hover {
  color: white;
}

.bpw-powered svg {
  height: 10px;
}

/* the button to show the chatbot */
.bpw-widget-btn {
  background-color: #005A35;
  border-radius: 15px 15px 0px 15px;
}

.bpw-widget-btn:hover {
  background-color: #002c1a;
}

/* chat bubble CSS */
.bpw-chat-bubble:last-of-type {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bpw-chat-bubble:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bpw-from-user .bpw-chat-bubble:last-of-type {
  border-bottom-right-radius: 10px;
}

.bpw-from-bot .bpw-chat-bubble:last-of-type {
  border-bottom-left-radius: 10px;
}

.bpw-from-user .bpw-chat-bubble {
  background-color: #00A45E;
  border-radius: 50%;
  color: #FFFFFF;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #00A45E;
  border-radius: 15px 15px 0px 15px;
  border: none;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #ffffff;
  color: #000000;
  border-radius: 15px 15px 15px 0px;
  border: none;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  margin-bottom: 0.35em;
}

/* date css */
.bpw-date-container .bpw-small-line {
  border-bottom: none;
}

.bpw-date-container {
  font-weight: 700;
  font-size: 14px;
}

/* header css */
.bpw-header-container {
  background-color: #007136;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  /*box-shadow: 0px 0px 6px #b8b8b8;*/
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  padding: 2.35em 0.75em 2.30em 0.75em;
}

.bpw-header-name {
  font-weight: bold;
  font-size: 1.10em;
}

.bpw-header-title { /* changes the font styling for the title or chatbot name in the header */
  font-weight: bold;
  color: #FFFFFF;
}

.bpw-header-icon,
.bpw-header-icon svg,
.bpw-header-icon svg path,
.bpw-header-icon-reset,
#btn-reset {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.bpw-header-subtitle {
  color: rgb(226, 226, 226);
}

.bpw-header-unread {
  height: 1.40em;
  width: 1.45em;
}

/* avatar CSS */
.bpw-bot-avatar {
  padding-top: 0.35em;
}

.bpw-bot-avatar img,
.bpw-bot-avatar svg {
  border: none;
  border-radius: 50%;
}

/* text input CSS */
.bpw-composer {
  padding: 0.25em 0.25em 0.25em 0.35em;
  background: none;
  border: none;
}

.bpw-composer textarea {
  background: #007136;
  color: white;
  border-radius: 100px;
  height: 3em;
  font-size: 1em;
  overflow: hidden;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b6fdde;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b6fdde;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b6fdde;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b6fdde;
}

/* send button css */
.send-btn:hover {
  background: #d8d8d8;
}

.bpw-send-button {
  color:#00A45E;
  font-weight: bold;
  margin-left: 0.50em;
}

/* custom css for the chatbot container */
.bpw-layout {
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 10px;
  /*box-shadow: 0px 0px 5px #b8b8b8;*/
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

/* CSS for chatbot prompt boxes */
.bpw-button {
  border-color: #005A35;
  color: #005A35;
  font-size: 1em;
  font-weight: bold;
}
