:root {
	--dlsl_dark: #007136;
	--dlsl_mid: #005A35;
	--dlsl_light: #00A45E;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  /* nice-looking web safe fonts */
}

/*scrollbar css*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* the bottom part of the chatbot with the powered by text */
.bpw-powered {
  font-size: 0.75em;
  text-decoration: none;
  color: inherit;
  padding-left: 1em;
  padding: 0.65em 0.65em 0.65em 0.65em;
  background-color: var(--dlsl_dark);
  border-radius: 0 0 10px 10px;
  color: white;
  border:none;
}

.bpw-powered a {
  color: white;
  text-decoration: none;
}

.bpw-powered a:hover {
  color: white;
}

.bpw-powered svg {
  height: 10px;
}

/* the button to show the chatbot */
.bpw-widget-btn {
  background-color: var(--dlsl_mid);
  border-radius: 15px 15px 0px 15px;
}

.bpw-widget-btn:hover {
  background-color: #002c1a;
}

/* chat bubble CSS */
.bpw-chat-bubble:last-of-type {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bpw-chat-bubble:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bpw-from-user .bpw-chat-bubble:last-of-type {
  border-bottom-right-radius: 10px;
}

.bpw-from-bot .bpw-chat-bubble:last-of-type {
  border-bottom-left-radius: 10px;
}

.bpw-from-user .bpw-chat-bubble {
  background-color: var(--dlsl_light);
  border-radius: 50%;
  color: #FFFFFF;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: var(--dlsl_dark);
  border-radius: 15px 15px 0px 15px;
  border: none;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #ffffff;
  color: #000000;
  border-radius: 15px 15px 15px 0px;
  border: none;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  margin-bottom: 0.35em;
}

/* date css */
.bpw-date-container .bpw-small-line {
  border-bottom: none;
}

.bpw-date-container {
  font-weight: 700;
  font-size: 14px;
}

/* header css */
.bpw-header-container {
  background-color: var(--dlsl_dark); 
  border: none;
  border-radius: 10px 10px 0 0;
  /*box-shadow: 0px 0px 6px #b8b8b8;*/
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  padding: 2.35em 0.75em 2.30em 0.75em;
}

.bpw-header-name {
  font-weight: bold;
  font-size: 1.10em;
}

.bpw-header-title { /* changes the font styling for the title or chatbot name in the header */
  font-weight: bold;
  color: #FFFFFF;
}

.bpw-header-icon,
.bpw-header-icon svg,
.bpw-header-icon svg path,
.bpw-header-icon-reset,
#btn-reset {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.bpw-header-subtitle {
  color: rgb(226, 226, 226);
}

.bpw-header-unread {
  height: 1.40em;
  width: 1.45em;
}

/* avatar CSS */
.bpw-bot-avatar {
  padding-top: 0.35em;
}

.bpw-bot-avatar img,
.bpw-bot-avatar svg {
  border: none;
  border-radius: 50%; 
}

/* text input CSS */
.bpw-composer {
  padding: 0.25em 0.25em 0.25em 0.35em;
  background: none;
  border: none;
  height: auto;
}

.bpw-composer textarea {
  background: var(--dlsl_dark);
  color: white;
  border-radius: 25px;
  height: auto;
  font-size: 1em;
  overflow: auto;
  max-height: 7em;
  padding: 1em;
  line-height: 1.2em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b6fdde;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b6fdde;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b6fdde;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b6fdde;
}

/* send button css */
.send-btn:hover {
  background: #d8d8d8;
}

.bpw-send-button {
  color:var(--dlsl_light);
  font-weight: bold;
  margin-left: 0.50em;
}

/* custom css for the chatbot container */
.bpw-layout { 
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

/* CSS for chatbot prompt boxes */
.bpw-button {
  border-color: var(--dlsl_mid);
  color: var(--dlsl_mid);
  font-size: 1em;
  font-weight: bold;
}

.bpw-layout {
	-webkit-transition: height 1s ease, right 1s ease, left 1s ease, bottom 1s ease;
    -moz-transition: height 1s ease, right 1s ease, left 1s ease, bottom 1s ease;
    -ms-transition: height 1s ease, right 1s ease, left 1s ease, bottom 1s ease;
    transition: height 1s ease, right 1s ease, left 1s ease, bottom 1s ease;
}

/* smooth transition for css animations */
.bpw-powered, .bpw-header-container, .bpw-composer textarea, .bpw-widget-btn, 
.bpw-from-user .bpw-chat-bubble, .bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content,
.bpw-bubble-undefined bpw-chat-bubble bpw-bubble-text {	
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

/* CSS talk bubble */
.talk-bubble {
  display: inline-block;
  position: absolute;
	width: 13em;
	height: 5em;
  right: 5.5em;
	background-color: var(--dlsl_dark);
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 28px;
	bottom: auto;
	border: 12px solid;
	border-color: var(--dlsl_dark) transparent transparent var(--dlsl_dark);
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
  color: white;
}

.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

